<h2 class="text-center">Detail Page</h2>
<div *ngIf="event">
  <div class="col-xs-12">
    <ul class="event-list">
      <!-- event 1 -->
      <li>
        <!-- datum -->
        <time datetime="2014-07-20">
           <span class="day">{{ event[0].date_from | date:'dd' }}</span>
              <span class="month">{{ event[0].date_from | date:'MMM' }}</span>
              <span class="year">{{ event[0].date_from | date:'yyyy' }}</span>
              <span class="time">{{ event[0].date_from | date:'shortTime' }}</span>
        </time>
        <!-- event info -->
        <div class="info">
          <h3 class="title">{{ event[0].name }}</h3>
          <p class="desc">Event id: {{ event[0].code }}</p>
          <p class="author">{{ event[0].owner.name }}</p>
          <p class="desc">{{ event[0].location }}</p>
          <p class="desc">from : {{ event[0].date_from | date:'dd/MM/yyyy @ h:mma' }}</p>
           <p class="desc">to : {{ event[0].date_to | date:'dd/MM/yyyy @ h:mma' }}</p>
        </div>
        <!-- event-edit btns -->
        <div class="event-edit">
          <ul>
            <li class="event-edit__ico event-detail" style="width:33%;" >
              <a [routerLink]="['/']"><span class="fa fa-home"></span></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>