<header>
  <!-- navigation -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!--  search bar -->
      <search-box (update)="searchUpdate($event)"></search-box>
      <!-- user list filter -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter by user <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let user of userList">
              <a  (click)="selectUser(user)">{{ user }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- evet-list -->
<section id="sec-1" class="section sec-1">
  <div class="container">
    <div *ngIf="events">
      <div class="col-xs-12">
        <!-- aktualnych +7 dni -->
        <h2 class="text-center">V najblizssich 7 dnoch</h2>
        <ul class="event-list">
          <!-- event 1 -->
          <li *ngFor="let event of events | TentoTyzden | orderBy | searchPipe : searchTerm | userFilter : userName">
            <!-- datum -->
            <time datetime="2017-07-12">
              <span class="day">{{ event.date_from | date:'dd' }}</span>
              <span class="month">{{ event.date_from | date:'MMM' }}</span>
              <span class="year">{{ event.date_from | date:'yyyy' }}</span>
              <span class="time">{{ event.date_from | date:'shortTime' }}</span>
            </time>
            <!-- event info -->
            <div class="info">
              <h3 class="title">{{ event.name }}</h3>
              <p class="desc">Event id: {{ event.code }}</p>
              <p class="author">{{ event.owner.name }}</p>
              <p class="desc">{{ event.location }}</p>
            </div>
            <!-- event-edit btns -->
            <div class="event-edit">
              <ul>
                <li (click)="modal.open();editEvent(event)" class="event-edit__ico event-edit" style="width:33%;">
                  <a title="Edit event"><span class="fa fa-pencil"></span></a>
                </li>
                <li (click)="deleteEvent(event)" class="event-edit__ico event-remove" style="width:34%;">
                  <a title="Delete Event"><span class="fa fa-times"></span></a>
                </li>
                <li (click)="cloneEvent(event)" class="event-edit__ico event-clone" style="width:34%;">
                  <a title="Clone Event"><span class="fa fa-plus-square-o"></span></a>
                </li>
                <li class="event-edit__ico event-detail" style="width:33%;">
                  <a [routerLink]="['/events', event.event_id]" title="Show Event Details"><span class="fa fa-search-plus"></span></a>
                </li>

              </ul>
            </div>
          </li>
        </ul>
        <!-- Uz zacali -->
        <h2 class="text-center">Minule</h2>
        <ul class="event-list">
          <!-- event 1 -->
          <li *ngFor="let event of events | MinuleEventy  | orderBy | searchPipe : searchTerm | userFilter : userName">
            <!-- datum -->
            <time datetime="2017-07-12">
              <span class="day">{{ event.date_from | date:'dd' }}</span>
              <span class="month">{{ event.date_from | date:'MMM' }}</span>
              <span class="year">{{ event.date_from | date:'yyyy' }}</span>
              <span class="time">{{ event.date_from | date:'shortTime' }}</span>
            </time>
            <!-- event info -->
            <div class="info">
              <h3 class="title">{{ event.name }}</h3>
              <p class="desc">Event id: {{ event.code }}</p>
              <p class="author">{{ event.owner.name }}</p>
              <p class="desc">{{ event.location }}</p>
            </div>
            <!-- event-edit btns -->
            <div class="event-edit">
              <ul>
                <li (click)="modal.open();editEvent(event)" class="event-edit__ico event-edit" style="width:33%;">
                  <a title="Edit event"><span class="fa fa-pencil"></span></a>
                </li>
                <li (click)="deleteEvent(event)" class="event-edit__ico event-remove" style="width:34%;">
                  <a title="Delete Event"><span class="fa fa-times"></span></a>
                </li>
                <li (click)="cloneEvent(event)" class="event-edit__ico event-clone" style="width:34%;">
                  <a title="Clone Event"><span class="fa fa-plus-square-o"></span></a>
                </li>
                <li class="event-edit__ico event-detail" style="width:33%;">
                  <a [routerLink]="['/events', event.event_id]" title="Show Event Details"><span class="fa fa-search-plus"></span></a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <!-- buduce o 7dni a viac -->
        <h2 class="text-center">Buduce Eventy</h2>
        <ul class="event-list">
          <!-- event 1 -->
          <li *ngFor="let event of events | BuduceEventy | orderBy | searchPipe : searchTerm | userFilter : userName">
            <!-- datum -->
            <time datetime="2017-07-12">
              <span class="day">{{ event.date_from | date:'dd' }}</span>
              <span class="month">{{ event.date_from | date:'MMM' }}</span>
              <span class="year">{{ event.date_from | date:'yyyy' }}</span>
              <span class="time">{{ event.date_from | date:'shortTime' }}</span>
            </time>
            <!-- event info -->
            <div class="info">
              <h3 class="title">{{ event.name }}</h3>
              <p class="desc">Event id: {{ event.code }}</p>
              <p class="author">{{ event.owner.name }}</p>
              <p class="desc">{{ event.location }}</p>
            </div>
            <!-- event-edit btns -->
            <div class="event-edit">
              <ul>
                <li (click)="modal.open();editEvent(event)" class="event-edit__ico event-edit" style="width:33%;">
                  <a title="Edit event"><span class="fa fa-pencil"></span></a>
                </li>
                <li (click)="deleteEvent(event)" class="event-edit__ico event-remove" style="width:34%;">
                  <a title="Delete Event"><span class="fa fa-times"></span></a>
                </li>
                <li (click)="cloneEvent(event)" class="event-edit__ico event-clone" style="width:34%;">
                  <a title="Clone Event"><span class="fa fa-plus-square-o"></span></a>
                </li>
                <li class="event-edit__ico event-detail" style="width:33%;">
                  <a [routerLink]="['/events', event.event_id]" title="Show Event Details"><span class="fa fa-search-plus"></span></a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <hr>
        <!-- add event -->
        <div class="row">
          <h2>Add Event : </h2>
          <event-add (eventCreated)="onEventCreated($event)"></event-add>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- edit modal -->
<modal #modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Edit Event</h4>
  </modal-header>
  <modal-body>
    <event-edit [event]="activeEvent"></event-edit>
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>
