<div class="col-md-12" style="border-bottom: 1px solid #eee;" *ngIf="event" id="event-edit">
  <div class="col-xs-12">

    <ul class="event-list">
      <!-- event 1 -->
      <li class="event-list__edit">
        <!-- datum -->
        <time datetime="2014-07-20">
          <span class="day">{{ event.date_from | date:'dd' }}</span>
          <span class="month">{{ event.date_from | date:'MMM' }}</span>
          <span class="year">{{ event.date_from | date:'yyyy' }}</span>
          <span class="time">{{ event.date_from | date:'shortTime' }}</span>
        </time>
        <!-- event info -->
        <div class="info">
          <form #form="ngForm" (ngSubmit)="updateEvent()">
            <div class="form-group">
              <label for="event-name">Event name:</label>
              <input type="text" class="form-control" name="event-name" [(ngModel)]="event.name">
            </div>
            <!-- desc -->
            <div class="form-group">
              <label for="event-desc">Event desc:</label>
              <input type="text" class="form-control" name="event-desc" [(ngModel)]="event.code">
            </div>
            <!-- author -->
            <div class="form-group">
              <label for="event-author">Event author:</label>
              <input type="text" class="form-control" name="event-author" [(ngModel)]="event.owner.name">
            </div>
            <!-- location -->
            <div class="form-group">
              <label for="event-author">Event Location:</label>
              <input type="text" class="form-control" name="event-location" [(ngModel)]="event.location">
            </div>
            <button type="submit" class="btn btn-success">Update Event</button>
          </form>
          <br>
        </div>
        <!-- event-edit btns -->
        <div class="event-edit">
          <ul>
            <li class="event-edit__ico event-save" style="width:34%;">
              <a><span class="fa fa-floppy-o"></span></a>
            </li>
            <li class="event-edit__ico event-undo" style="width:33%;">
              <a><span class="fa fa-undo"></span></a>
            </li>
          </ul>
        </div>

      </li>

    </ul>

  </div>
</div>
