<form #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="active">
    <div class="form-group" [ngClass]="{ 'has-error': name.invalid && name.touched }">
        <label for="event-name">Event name:</label>
        <input type="text" class="form-control" id="event-name" required name="name" 
        [(ngModel)]="newEvent.name" #name="ngModel">

        <span class="help-block" *ngIf="name.invalid">Event name is required.</span>
    </div>
    <button type="submit" id="add" class="btn btn-success"
    	data-loading-text="Adding event..." [disabled]="form.invalid">ADD EVENT</button>
</form>
 <br><br>